body {
    background-color: #262e36;
}

div {
    text-align: center;
    margin: auto;
    padding-top: 60px;
    max-width: 800px;
    width: 80%;
}

div>img {
    width: auto;
    height: 200px;
}

ul {
    display: block;
    list-style: none;
    text-align: right;
    padding-left: 0;
    padding-top: 40px;
}

ul>li {
    display: inline-block;
}

ul>li:nth-child(1) {
    font-size: 1.5em;
    font-weight: bold;
    color: #ddecf0;
    float: left;
}

ul>li:nth-child(2) {
    padding-left: 20px;
}

ul>li>a {
    color: #b0e0ed;
}